<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    -->
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
  </head>
  <body>
  
    <nav>
      <ul class='navbar'>
          <li><a href="/newpost">Add Post</a></li>
          <li><a href="/blog">Blog Main</a></li>
        </ul>
    </nav>
    
    {% block content %}

    {% endblock %}
  </body>
</html>